<!doctype html>
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Quen mat khau</title>
  </head>
  <body>
    <main layout:fragment="content">
      <form
        class="form-panel auth-panel"
        th:action="@{/forgot-password}"
        method="post"
      >
        <h1>Quen mat khau</h1>
        <p th:if="${error}" th:text="${error}" style="color: #a34b39"></p>
        <p th:if="${message}" th:text="${message}" style="color: #16734b"></p>
        <label class="field"
          >Email da dang ky<input
            type="email"
            name="email"
            th:value="${param.email}"
            required /></label
        ><button type="submit">Gui OTP</button>
        <p><a th:href="@{/login}">Quay lai dang nhap</a></p>
      </form>
    </main>
  </body>
</html>
