<!doctype html>
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Dat lai mat khau</title>
  </head>
  <body>
    <main layout:fragment="content">
      <form
        class="form-panel auth-panel"
        th:action="@{/reset-password}"
        method="post"
      >
        <h1>Dat lai mat khau</h1>
        <p th:if="${error}" th:text="${error}" style="color: #a34b39"></p>
        <label class="field">Ma OTP<input name="otp" required /></label
        ><label class="field"
          >Mat khau moi<input
            type="password"
            name="newPassword"
            required
            minlength="6" /></label
        ><label class="field"
          >Xac nhan mat khau<input
            type="password"
            name="confirmPassword"
            required /></label
        ><button type="submit">Dat lai mat khau</button>
      </form>
    </main>
  </body>
</html>
